<%- include header %>
<div class="container">
	<div class="row">
		<!-- 左侧 -->
		<div class="col-xs-9">
			<h1>404</h1>
		</div>
		<!-- 右侧 -->
		<%- include sidebar %>
	</div>
</div>
<%- include footer %>

<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Blog</title>
</head>
<body>
<h1>404</h1>
</body>
</html> -->