<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>404</title>
</head>
<body>
	<!-- <img src="../images/notfound.png" alt="404" class="snap">
	<h4 style="line-height: 50px;"></h4> -->
	<h1 style="text-align: center">Not Found.Please input the right url ^^</h1>
</body>
</html>
