	<footer>
		<p>&copy; by tracy木子&nbsp;|&nbsp;2015</p>
	</footer>
	<!-- <div class="weibo">code
		<img src="/images/logo.jpg" id="weibo" alt="">
	</div> -->
	<div class="to-top">to top</div>
	<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
</body>
</html>