<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<meta name="google" value="notranslate">  <!-- 屏蔽谷歌翻译的弹窗 -->
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="tracy2015毕业设计个人博客系统设计与实现，使用HTML5搭建页面，运用CSS3做特效，以Bootstrap作为框架，使用jQuery制作动画">
	<meta name="keywords" content="tracy,tracy木子,毕业设计">
	<meta name="author" content="tracy木子">
	<link rel="icon" type="text/css" href="images/logo.ico">
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/base.css">
	<script type="text/javascript" src="javascripts/jquery-2.0.2.js"></script>
	<script type="text/javascript" src="javascripts/jqbase.js"></script>
</head>
<body>
	<header class="hd" role="banner">		
		<div class="navbar navbar-inverse container" role="navigation">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="sr-only"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- 却奥无论是在宽屏还是窄屏，navbar-brand都能显示 -->
				<a href="/" class="navbar-brand">tracy木子</a>
			</div>
			<div class="collapse navbar-collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/" title="文章">文章</a></li>
					<li><a href="/share" title="分享">分享</a></li>
					<li><a href="/about" title="关于">关于</a></li>
					<% if ( user ) { %>
						<li><a href="/post" title="写文章">写文章</a></li>
						<li><a href="/uploadPic" title="上传图片">上传图片</a></li>
						<li><a href="/logout" title="退出">退出</a></li>
					<% } else { %>
						<li><a href="/login" title="登录">登录</a></li>
					<% } %>
					
				</ul>
			</div>
		</div>
	</header>