<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<meta name="google" value="notranslate">  <!-- 屏蔽谷歌翻译的弹窗 -->
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="tracy2015毕业设计个人博客系统设计与实现，使用HTML5搭建页面，运用CSS3做特效，以Bootstrap作为框架，使用jQuery制作动画">
	<meta name="keywords" content="tracy,tracy木子,毕业设计">
	<meta name="author" content="tracy木子">
	<link rel="icon" type="text/css" href="images/logo.ico">
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/login.css">
	<script type="text/javascript" src="javascripts/jquery-2.0.2.js"></script>
	<script type="text/javascript" src="javascripts/jqbase.js"></script>
</head>
<body>
	<div id="login">
		<% if ( success ) { %>
		  <div class="tips"><%= success %></div>
		<% } %>
		<% if ( error ) { %>
		  <div class="tips red"><%= error %></div>
		<% } %>
		<div class="login-head"></div>
		<div class="login-cont">
			<div class="login-title">
				<h4>Welcom Tracy</h4>
			</div>
			<form method="post" class="login-box">
				<input type="text" class="user-name" name="name" placeholder="用户名">
				<input type="password" class="user-pass" name="password" placeholder="密码"><br>
				<button type="submit" class="user-sub">登录</button>
				<!-- <input type="submit" class="user-sub" placeholder="登录"> -->
			</form>
		</div>
		<div class="login-foot"></div>
		
	</div>
	<script type="text/javascript" src="javascripts/bootstrap.js"></script>
</body>
</html>