<nav class="nav-page-center">
	<ul class="paging-center">
		<% console.log( page ) %>

		<% if ( !isFirstPage ) { %>      <!-- 如果不是第一页 -->
			<li><a href="?p=<%= page - 1 %>"  class="previous_page">← Prev</a></li>
		<% } %>
		<% if ( !isLastPage ) { %>    <!-- 如果不是最后页 -->
			<li><a href="?p=<%= page + 1 %>"  class="next_page">Next →</a></li>
		<% } %>
	</ul>
</nav>