<div class="input-group">
	<form action="/search" method="get">
		<input type="text" name="key" placeholder="输入要查找的内容">
		<div class="share">
			<a href="http://weibo.com/tracylyx/" target="_blank"><i class="xl">新浪</i></a>
			<a href=""><i class="wb">微博</i></a>
			<a href=""><i class="tx">腾讯</i></a>
			<a href=""><i class="kj">空间</i></a>
		</div>
	</form>		
</div>