	<!-- 热门标签 -->
	<div class="sb-box">
		<h4 class="sb-line">热门标签</h4>
		<div class="sb-cont cf">
			<a href="###"><span class="label label-default">JavaScript</span></a>
			<a href="###"><span class="label label-primary">html</span></a>
			<a href="###"><span class="label label-success">css3</span></a>
			<a href="###"><span class="label label-info">ajax</span></a>
			<a href="###"><span class="label label-warming">html5</span></a>
			<a href="###"><span class="label label-danger">JavaScript</span></a>
			<a href="###"><span class="label label-primary">json</span></a>
			<a href="###"><span class="label label-default">mongodb</span></a>
		</div>
	</div>

	<!-- 友情链接 -->
	<div class="sb-box">
		<h4 class="sb-line">友情链接</h4>
		<div class="sb-cont">
			<ul class="visitor">
				<li><a href="https://github.com/" target="_blank"><img src="/images/github.jpg" alt="github" title="github" class="visitor-photo img-circle"></a></li>
				<li><a href="http://stackoverflow.com/" target="_blank"><img src="/images/stackoverflow.jpg" alt="stackoverflow" title="stackoverflow" class="visitor-photo img-circle"></a></li>
				<li><a href="http://www.imooc.com/course/list" target="_blank"><img src="/images/imooc.png" alt="imooc" title="imooc" class="visitor-photo img-circle"></a></li>
			</ul>
			<ul class="visitor">
				<li><a href="" target="_blank"><img src="/images/mongo.jpg" alt="mongo数据库" title="mongoDB" class="visitor-photo img-circle"></a></li>
				<li><a href="http://www.w3school.com.cn/" target="_blank"><img src="/images/logo.jpg" alt="w3school" title="w3school" class="visitor-photo img-circle"></a></li>
				<li><a href="http://www.w3cplus.com/" target="_blank"><img src="/images/w3c.jpg" alt="w3cplus" title="w3cplus" class="visitor-photo img-circle"></a></li>
			</ul>
			<!-- <ul class="visitor">
				<li><a href="" target="_blank"><img src="/images/logo.jpg" alt="头像" title="小丸子" class="visitor-photo img-circle"></a></li>
				<li><a href="" target="_blank"><img src="/images/logo.jpg" alt="头像" title="小丸子" class="visitor-photo img-circle"></a></li>
				<li><a href="" target="_blank"><img src="/images/logo.jpg" alt="头像" title="小丸子" class="visitor-photo img-circle"></a></li>
			</ul> -->
		</div>
	</div>

</div>