<div class="col-xs-3">
	<!-- 本站搜索 -->
	<div class="input-group">
		<input type="text" class="form-control" placeholder="输入要查找的内容">
		<span class="input-group-btn">
			<button class="btn btn-reverse" type="button">Go!</button>
		</span>
	</div>
	<!-- 近期文章 -->
	<div class="sb-box">
		<h4 class="sb-line">近期文章</h4>
		<ul class="sb-cont">
			<li>
				<a href="###">js 如何实现暂停和继续功能</a>
				<span class="post-data">2015-1-16</span>
			</li>
			<li>
				<a href="###">为什么php中没有ruby的webrick？</a>
				<span class="post-data">2015-1-16</span>
			</li>
			<li>
				<a href="###">php区别电脑浏览器和手机浏览器</a>
				<span class="post-data">2015-1-16</span>
			</li>
			<li>
				<a href="###">求助如何设计大数据的课程</a>
				<span class="post-data">2015-1-16</span>
			</li>
			<li>
				<a href="###">调整php-fpm进程数之后，为什么负载飙升的厉害</a>
				<span class="post-data">2015-1-16</span>
			</li>
		</ul>
	</div>

	<!-- 热门标签 -->
	<div class="sb-box">
		<h4 class="sb-line">热门标签</h4>
		<div class="sb-cont">
			<a href="###"><span class="label label-default">JavaScript</span></a>
			<a href="###"><span class="label label-primary">html</span></a>
			<a href="###"><span class="label label-success">css3</span></a>
			<a href="###"><span class="label label-info">ajax</span></a>
			<a href="###"><span class="label label-warming">html5</span></a>
			<a href="###"><span class="label label-danger">JavaScript</span></a>
			<a href="###"><span class="label label-primary">json</span></a>
			<a href="###"><span class="label label-default">mongodb</span></a>
		</div>
	</div>

	<!--  -->
	<div class="sb-box">
		<h4 class="sb-line">最近访客</h4>
		<div class="sb-cont">
			<ul class="visitor">
				<li><img src="/images/logo.jpg" alt="头像" title="小丸子" class="visitor-photo img-circle"></li>
				<li><img src="/images/logo.jpg" alt="头像" title="小丸子" class="visitor-photo img-circle"></li>
				<li><img src="/images/logo.jpg" alt="头像" title="小丸子" class="visitor-photo img-circle"></li>
			</ul>
			<ul class="visitor">
				<li><img src="/images/logo.jpg" alt="头像" title="小丸子" class="visitor-photo img-circle"></li>
				<li><img src="/images/logo.jpg" alt="头像" title="小丸子" class="visitor-photo img-circle"></li>
				<li><img src="/images/logo.jpg" alt="头像" title="小丸子" class="visitor-photo img-circle"></li>
			</ul>
			<ul class="visitor">
				<li><img src="/images/logo.jpg" alt="头像" title="小丸子" class="visitor-photo img-circle"></li>
				<li><img src="/images/logo.jpg" alt="头像" title="小丸子" class="visitor-photo img-circle"></li>
				<li><img src="/images/logo.jpg" alt="头像" title="小丸子" class="visitor-photo img-circle"></li>
			</ul>
		</div>
	</div>

</div>