<%- include header %>
<div class="container">
	<div class="row">
		<!-- 左侧 -->
		<div class="col-xs-9">
			<!-- 定位 -->
			<%= include location  %>
			<!-- 添加图片 -->
			<div class="jumbotron index-post-info">
				<form action="post" action="/uploadPic" enctype="multipart/form-data">
					<input type="file" name="pic1"><br>
					<input type="file" name="pic2"><br>
					<input type="file" name="pic3"><br>
					<input type="file" name="pic4"><br>
					<input type="file" name="pic5"><br>
					<input type="file" name="pic6"><br>
					<input type="file" name="pic7"><br>
					<input type="file" name="pic8"><br>
					<input type="file" name="pic9"><br>
					<input type="file" name="pic10"><br>
					<input type="submit">
				</form>
			</div>
		</div>
		<!-- 右侧 -->
		<div class="col-xs-3">
		<%- include sidebar %>
	</div>
</div>
<%- include footer %>