/**
 * hd: header
 * sb: sidebar
 */
/**
 * reset
 * 
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
body {
  font-family: "微软雅黑";
  background: url(../images/bg.jpg);
  background-size: cover;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
*::selection {
  color: pink;
  background: #d2ca92;
}
/**
 * 清除浮动
 */
.cf {
  clear: both;
  display: block;
  overflow: hidden;
}
/**
 * 全局
 * 
 */
.to-top {
  width: 44px;
  height: 44px;
  background: url(../images/paging.png) no-repeat 0px 0px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.to-top:hover {
  width: 44px;
  height: 44px;
  background: url(../images/paging.png) no-repeat 0px -44px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
  cursor: pointer;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.weibo {
  width: 50px;
  height: 50px;
  background: red;
  position: fixed;
  right: 10px;
  bottom: 70px;
}
.weibo img {
  width: 100px;
  height: 100px;
  position: fixed;
  right: 65px;
  display: none;
  z-index: 100;
}
.navbar-inverse {
  background: #000000;
  border: none;
  font-size: 16px;
}
/**
 * 头部
 */
.hd {
  background: #000000;
  opacity: 0.7;
}
.nav-center {
  width: 265px;
  margin: 0 auto;
}
/**
 * 文章
 */
.index-post-info {
  background: #ffffff;
  opacity: 0.9;
}
.post-brief {
  width: 100%;
  height: auto;
}
.post-brief h4 {
  font-size: 16px;
}
.post-brief p {
  font-size: 14px;
}
.post-brief-pic {
  max-width: 100%;
  height: 250px;
  float: left;
}
.post-brief-cont {
  width: 45%;
  float: right;
  overflow: hidden;
}
.post-brief-cont p {
  line-height: 25px;
  margin-bottom: none;
  text-indent: 2em;
  overflow: hidden;
}
.post-title {
  line-height: 30px;
  padding: 10px;
}
.post-title a {
  color: #da6426;
}
.post-title a:hover {
  color: #333333;
}
.post-tag {
  clear: both;
  line-height: 25px;
  font-size: 12px;
}
.author-info {
  height: 30px;
  line-height: 30px;
}
.author-info span {
  margin-left: 2px;
  padding-left: 20px;
}
.icon-author {
  background: url(../images/icon.png) no-repeat;
  background-position: 0 0;
}
.icon-time {
  background: url(../images/icon.png) no-repeat;
  background-position: 0 -27px;
}
.icon-hot {
  background: url(../images/icon.png) no-repeat;
  background-position: 0 -50px;
}
.icon-comment {
  background: url(../images/icon.png) no-repeat;
  background-position: 0 -73px;
}
.icon-edit {
  background: url(../images/edit.png) no-repeat;
  background-position: 0 0;
}
.icon-del {
  background: url(../images/edit.png) no-repeat;
  background-position: 0 -19px;
}
.jumbotron {
  padding: 20px;
}
.post-box {
  height: 214px;
  overflow: hidden;
}
/**
 * 侧边栏 sb = siderbar
 */
.sb-box {
  background: #000000;
  opacity: 0.7;
  margin-top: 20px;
}
.sb-box .sb-cont {
  font-size: 12px;
  padding: 20px;
}
.sb-box .sb-cont a {
  color: #da6426;
}
.sb-box .sb-cont a:hover {
  color: white;
  text-decoration: none;
}
.sb-box .sb-cont li {
  _display: inline;
  line-height: 25px;
}
.sb-box h4 {
  font-size: 14px;
  padding: none;
  margin: 0;
  padding: 10px 20px;
  color: white;
}
.sb-box .sb-post-title {
  float: left;
  max-width: 12em;
  white-space: nowrap;
  _white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.post-data {
  float: right;
  font-size: 12px;
  color: #999999;
}
.tag {
  padding: 5px;
  background: red;
  display: inline;
}
.visitor {
  padding-top: 10px;
}
.visitor li {
  display: inline;
  padding: 10px;
}
.visitor img {
  transition: transform 0.4s ease-out;
}
.visitor img:hover {
  transform: rotate(360deg);
}
.img-circle {
  width: 50px;
  height: 50px;
}
.label {
  line-height: 2.5;
  margin: 0px 5px;
  position: relative;
  z-index: 99;
}
.sb-line {
  border-bottom: 1px solid gray;
}
/**
 * 尾部
 */
footer p {
  text-align: center;
}
/**
 * postDetail
 */
.local {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  background: #000000;
  opacity: 0.7;
  margin-bottom: 20px;
  color: #da6426;
}
.local a {
  color: #da6426;
}
.local a:hover {
  text-decoration: none;
  color: white;
}
.post-detail h4 {
  text-align: center;
  color: #da6426;
  line-height: 40px;
}
.post-detail p {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: none;
  text-indent: 2em;
  overflow: hidden;
}
.post-detail .author-info {
  text-align: center;
}
/**
 * write post
 */
.weite-container,
.write-title input,
.write-content textarea {
  width: 100%;
}
.write-title,
.write-title input {
  height: 40px;
}
.write-title input {
  text-indent: 1.5em;
  line-height: 40px;
  outline: none;
  border: none;
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
.write-tags input {
  float: left;
  width: 25%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  outline: none;
  border: none;
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
}
.write-tags input:last-child {
  outline: none;
  border: none;
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
.weite-container textarea {
  line-height: 30px;
  padding: 20px 30px;
  outline: none;
  border: none;
  border: 1px solid #d9d9d9;
}
.write-send {
  background: #da6426;
  outline: none;
}
.write-send:hover {
  background: #da6426;
  outline: none;
}
/**
 * search
 */
.input-group {
  width: 100%;
  height: 50px;
  margin: 0 auto;
}
.input-group input {
  width: 40px;
  height: 30px;
  transition: width 2s;
  z-index: 1000;
  position: absolute;
}
.input-group input:hover {
  width: 100%;
}
.share {
  padding-left: 50px;
}
.share i {
  text-indent: -9999px;
  width: 35px;
  height: 35px;
  display: block;
  float: left;
}
.share .xl {
  background: url(share.png) -67px -17px;
}
.share .xl:hover {
  background: url(share.png) -127px -17px;
}
.share .wb {
  background: url(share.png) -190px -17px;
}
.share .wb:hover {
  background: url(share.png) -250px -17px;
}
.share .tx {
  background: url(share.png) -310px -17px;
}
.share .tx:hover {
  background: url(share.png) -370px -17px;
}
.share .kj {
  background: url(share.png) -426px -17px;
}
.share .kj:hover {
  background: url(share.png) -486px -17px;
}
/**
 * paging
 */
.paging-center {
  width: 100px;
  height: 44px;
  margin: 0 auto;
}
.paging-center li {
  display: inline;
}
.paging-center li a {
  width: 44px;
  height: 44px;
}
.previous_page {
  width: 44px;
  height: 44px;
  background: url(../images/paging.png) no-repeat 0px 0px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  text-indent: -9999px;
  overflow: hidden;
  display: inline-block;
}
.previous_page:hover {
  background: url(../images/paging.png) no-repeat 0px -44px;
}
.next_page {
  width: 44px;
  height: 44px;
  background: url(../images/paging.png) no-repeat 0px 0px;
  text-indent: -9999px;
  overflow: hidden;
  display: inline-block;
}
.next_page:hover {
  background: url(../images/paging.png) no-repeat 0px -44px;
}
/**
 * archive
 */
.archive li {
  line-height: 25px;
}
.archive-time {
  float: right;
}
/**
  * search
  */
