/**
 * 登录
 */
@size: 420px;
@orange: #da6426;
#login {
	width: @size;
	height: auto;
	margin: 50px  auto 0;
	// background: green;
}
h1 {
	color: @orange;
	text-align: center;
	padding-bottom: 20px;
}
.tips {
	text-align: center;
	line-height: 25px;
}
.red {
	color: red;
}